.ref-input {
    width: 280px;
    display: flex;
    flex-direction: column;
  
    &__label {
      text-align: left;
      margin-bottom: 5px;
    }
  
    &__action {
      display: inline-block;
      position: relative;
      white-space: nowrap;
      width: 100%;
    }
  
    &__input {
      display: inline-block;
      
      min-width: 80%;
      height: 26px;
      padding-left: 10px;
      border: 1px solid green;
    }
  
    &__copy {
      display: inline-block;
      vertical-align: top;
      
      width: 20%;
      height: 30px;
      border: 1px solid green;
      background: green;
      color: white;
    }
  }